@font-face {
  font-family: 'Wizard World';
  src: url('../../public//fonts/WizardWorldSimplified-Kxr7.ttf');
}

@font-face {
  font-family: 'Harry Potter';
  src: url('../../public//fonts//HARRYP__.TTF');
}

@font-face {
  font-family: 'Caslon';
  src: url('../../public/fonts//caslonantique.otf');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../../public/fonts/proximanova_regular.ttf');
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../../public/fonts/proximanova_black.ttf');
}

$gry-red: rgb(116, 0, 1);
$gry-yellow: rgb(211, 166, 37);
$gry-text: rgb(244, 190, 43);
$gry-hover: rgba(211, 164, 37, 0.595);

$huf-yellow: rgb(236, 185, 57);
$huf-brown: rgb(35, 29, 26);
$huf-black: rgb(0, 0, 0);
$huf-hover: rgba(35, 29, 26, 0.316);

$rav-blue: rgb(34, 47, 91);
$rav-bronze: rgb(216, 151, 53);
$rav-text: rgb(255, 187, 85);
$rav-hover: rgba(216, 151, 53, 0.352);

$sly-green: rgb(42, 98, 61);
$sly-silver: rgb(211, 211, 211);
$sly-text: rgb(225, 223, 223);
$sly-hover: rgba(211, 211, 211, 0.307);

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-family: 'Proxima Nova Regular', sans-serif;
  scrollbar-gutter: auto;

  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }

  ::-webkit-scrollbar {
    width: 2rem;
    padding: 2rem;
    margin: 2rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.homepage-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .homepage-header {
    flex: 0;
    border-radius: 20px;
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: clamp(3rem, 0.5rem + 10vh, 5rem);
    font-family: 'Wizard World', sans-serif;
    text-align: center;
    opacity: 0;
    animation: fadein 1.5s 2.5s linear forwards;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .crests-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage-crest {
    z-index: 999;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.7s ease;
    animation-play-state: running;

    &:hover {
      translate: 0 -25px;

      cursor: pointer;
    }
  }

  .homepage-crest-gryffindor {
    @extend .homepage-crest;
    scale: 0.6;
    animation: move-crest-gryffindor 1.5s 0.3s linear forwards;
    opacity: 0;

    img {
      &:hover {
        filter: drop-shadow(0 0 5px rgb(255, 0, 0));
      }
    }
  }
  .homepage-crest-hufflepuff {
    @extend .homepage-crest;
    scale: 0.6;
    animation: move-crest-hufflepuff 1.5s 0.6s linear forwards;
    opacity: 0;
    img {
      &:hover {
        filter: drop-shadow(0 0 5px rgb(234, 255, 0));
      }
    }
  }
  .homepage-crest-ravenclaw {
    @extend .homepage-crest;
    scale: 0.6;
    opacity: 0;
    animation: move-crest-ravenclaw 1.5s 0.9s linear forwards;

    img {
      &:hover {
        animation-fill-mode: none;
        filter: drop-shadow(0 0 5px rgb(0, 47, 255));
      }
    }
  }
  .homepage-crest-slytherin {
    @extend .homepage-crest;
    opacity: 0;
    animation: move-crest-slytherin 1.5s 1.2s linear forwards;
    scale: 0.6;

    img {
      &:hover {
        filter: drop-shadow(0 0 5px rgb(34, 255, 0));
      }
    }
  }

  @keyframes move-crest-gryffindor {
    0% {
      transform: translateX(-100%);

      opacity: 0;
    }

    90% {
      transform: translate(0, 0);
      scale: 0.8;
      opacity: 1;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes move-crest-hufflepuff {
    0% {
      transform: translateY(-100%);

      opacity: 0;
    }

    90% {
      transform: translate(0, 0);
      scale: 0.8;
      opacity: 1;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes move-crest-ravenclaw {
    0% {
      transform: translateY(100%);

      opacity: 0;
    }

    90% {
      transform: translate(0, 0);
      scale: 0.8;
      opacity: 1;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes move-crest-slytherin {
    0% {
      transform: translateX(100%);

      opacity: 0;
    }

    90% {
      transform: translate(0, 0);
      scale: 0.9;
      opacity: 1;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }
}

// end of homepage

.layout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.layout-gryffindor {
  @extend .layout;
  background-color: $gry-red;
  color: $gry-yellow;
  a {
    border-radius: 10px;
    color: $gry-yellow;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $gry-hover;
      transition: all 0.2s ease-in-out;
      color: $gry-red;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: $gry-red;
    border: solid 2px $gry-yellow;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $gry-yellow;
    &:hover {
      background-color: yellow;
    }

    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}
.layout-hufflepuff {
  @extend .layout;
  background-color: $huf-yellow;
  color: $huf-brown;

  a {
    border-radius: 10px;
    color: $huf-brown;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $huf-hover;
      transition: all 0.2s ease-in-out;
      color: $huf-yellow;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: $huf-yellow;
    border: solid 2px $huf-brown;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $huf-brown;
    &:hover {
      background-color: $huf-black;
    }
    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}
.layout-ravenclaw {
  @extend .layout;
  background-color: $rav-blue;
  color: $rav-bronze;
  a {
    border-radius: 10px;
    color: $rav-bronze;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $rav-hover;
      transition: all 0.2s ease-in-out;
      color: $rav-blue;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: $rav-blue;
    border: solid 2px $rav-bronze;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $rav-bronze;
    &:hover {
      background-color: $rav-text;
    }
    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}
.layout-slytherin {
  @extend .layout;
  background-color: $sly-green;
  color: $sly-silver;
  a {
    border-radius: 10px;
    color: $sly-silver;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $sly-hover;
      transition: all 0.2s ease-in-out;
      color: $sly-green;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: $sly-green;
    border: solid 2px $sly-silver;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $sly-silver;
    &:hover {
      background-color: white;
    }
    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-text {
    margin-top: 0;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-family: 'Harry Potter', sans-serif;
    font-size: 4rem;
    width: 45%;
  }

  .navbar {
    margin-top: 0;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
    padding: 1rem;
    font-family: 'Wizard World', sans-serif;

    a {
      margin: 0 0.5rem;
      padding: 1rem;
    }

    .link-active {
      border-radius: 10px;

      padding: 1rem;
      text-decoration: none;
    }

    a {
      font-size: 2rem;
      padding: 1rem;
    }
  }
}

.link-gryffindor {
  @extend .link-active;
  background-color: $gry-yellow;
  color: $gry-red !important;
  &:hover {
    background-color: $gry-yellow !important;
  }
}
.link-hufflepuff {
  @extend .link-active;
  background-color: $huf-brown;
  color: $huf-yellow !important;
  &:hover {
    background-color: $huf-brown !important;
  }
}
.link-ravenclaw {
  @extend .link-active;
  background-color: $rav-bronze;
  color: $rav-blue !important;
  &:hover {
    background-color: $rav-bronze !important;
  }
}
.link-slytherin {
  @extend .link-active;
  background-color: $sly-silver;
  color: $sly-green !important;
  &:hover {
    background-color: $sly-silver !important;
  }
}

.page-content {
  height: 90%;
  width: 100%;
}

//end of layout

.welcome-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Wizard World', sans-serif;
  font-size: 4rem;

  .welcome-card-container {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    .welcome-card {
      display: flex;
      flex-direction: column;
      max-height: 35rem;
      margin: 2rem 2rem 1rem 1rem;
      background-color: $gry-yellow;
      border: solid 5px $gry-yellow;
      border-radius: 20px;
      color: $gry-red;
      cursor: pointer;
      text-align: center;
      transition: transform 0.5s ease;
      &:first-child {
        &:hover {
          transform: translateY(-15px) rotate(2deg);
        }
      }
      &:nth-child(even) {
        &:hover {
          transform: translateY(-20px);
        }
      }
      &:last-child {
        &:hover {
          transform: translateY(-15px) rotate(-2deg);
        }
      }
    }

    img {
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }

    .welcome-card-text {
      padding: 0.5rem 1rem;
    }

    .card-gryffindor {
      @extend .welcome-card;
      background-color: $gry-yellow;
      border: solid 5px $gry-yellow;
      color: $gry-red;
    }
    .card-hufflepuff {
      @extend .welcome-card;
      background-color: $huf-brown;
      border: solid 5px $huf-brown;
      color: $huf-yellow;
    }
    .card-ravenclaw {
      @extend .welcome-card;
      background-color: $rav-bronze;
      border: solid 5px $rav-bronze;
      color: $rav-blue;
    }
    .card-slytherin {
      @extend .welcome-card;
      background-color: $sly-silver;
      border: solid 5px $sly-silver;
      color: $sly-green;
    }
  }

  .welcome-goback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      background-color: inherit;
      color: inherit;
    }
  }
}

//end of welcome page
.table-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-container-search {
  margin: 1rem 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-model {
    padding: 0.2rem 0.5rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    border-radius: 10px;
    height: 3rem;
    width: 20rem;
    background-color: inherit;
    &:focus {
      outline: 0;
    }
  }

  .clear-input {
    cursor: pointer;
  }

  .input-gryffindor {
    @extend .input-model;
    border: solid 2px $gry-yellow;
    &::placeholder {
      color: rgba(211, 166, 37, 0.553);
    }
  }
  .input-hufflepuff {
    @extend .input-model;
    border: solid 2px $huf-brown;
    &::placeholder {
      color: rgba(0, 0, 0, 0.553);
    }
  }
  .input-ravenclaw {
    @extend .input-model;
    border: solid 2px $rav-bronze;
    &::placeholder {
      color: rgba(216, 151, 53, 0.492);
    }
  }
  .input-slytherin {
    @extend .input-model;
    border: solid 2px $sly-silver;

    &::placeholder {
      color: rgba(211, 211, 211, 0.536);
    }
  }
}
.table-container {
  margin: 0 auto 1rem;
  height: 75vh;
  display: flex;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
}

.table-model {
  width: 100%;
  table-layout: fixed;
  height: 100%;
  display: block;
  overflow-y: scroll;
  font-size: 1.4rem;
  table-layout: fixed;

  td {
    text-align: center;
  }

  th {
    width: 29rem;
  }

  .nothing-found {
    text-align: center;
    font-size: 2.2rem;
  }
}

.thead-model {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 2rem;
}

.thead-gryffindor {
  @extend .thead-model;
  background-color: $gry-yellow;
  color: $gry-red;
}
.table-gryffindor {
  @extend .table-model;
  color: $gry-text;

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 10px;
  }

  tr,
  td,
  th {
    padding: 1rem 0.5rem;
  }
}

.thead-hufflepuff {
  @extend .thead-model;
  background-color: $huf-brown;
  color: $huf-yellow;
}
.table-hufflepuff {
  @extend .table-model;
  color: $huf-black;

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 10px;
  }

  tr,
  td,
  th {
    padding: 1rem 0.5rem;
  }
}

.thead-ravenclaw {
  @extend .thead-model;
  background-color: $rav-bronze;
  color: $rav-blue;
}
.table-ravenclaw {
  @extend .table-model;
  color: $rav-text;

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 10px;
  }

  tr,
  td,
  th {
    padding: 1rem 0.5rem;
  }
}

.thead-slytherin {
  @extend .thead-model;
  background-color: $sly-silver;
  color: $sly-green;
}
.table-slytherin {
  @extend .table-model;
  color: $sly-text;

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 10px;
  }

  tr,
  td,
  th {
    padding: 1rem 0.5rem;
  }
}

.tr-character-dob {
  width: 16rem;
}
.tr-character-house {
  width: 14rem;
}
.tr-character-ancestry {
  width: 14rem;
}
.tr-character-patronus {
  width: 14rem;
}
.tr-character-status {
  width: 7rem;
}

//end of table
